{% extends 'base1.html' %}

{% block popup %}
<div class="login-wrapper" id="playersearch-content">
    <div  class="login-content">
        <a href="#" class="close">x</a>
        <h3>Search Player</h3>
        <form id="search">
            <div class="row">
                <label for="username">
                    Player Name:
                    <input id="search-name" type="text" placeholder="Enter keywords">
                </label>
            </div>
            <div class="row">
                <button type="submit">Search</button>
            </div>
        </form>
        <div id="search-popup"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Create A Team</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog grid section-->
<div class="page-single">
    <div class="container">
        <div class="row">
            <div id="team-page-roster" class="col-md-9 col-sm-12 col-xs-12">
                <div class="movie-item-style-2">
                    <div class="team-roster">

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="sb-cate sb-it">
                        <h4 class="sb-title">Team Config</h4>
                        <ul>
                            <li>
                                <label for="team-name">Team Name</label>
                                <input id="team-name" type="text" placeholder="Input Team Name Here">
                            </li>
                            <li>
                                <a>Formation</a>
                                <select name="formation" id="formation">
                                    <option value="1">3-1-4-2</option>
                                    <option value="2">3-4-1-2</option>
                                    <option value="3">3-4-2-1</option>
                                    <option value="4">3-4-3</option>
                                    <option value="5">3-5-2</option>
                                    <option value="6">4-1-2-1-2</option>
                                    <option value="7">4-1-3-2</option>
                                    <option value="8">4-1-4-1</option>
                                    <option value="9">4-2-2-2</option>
                                    <option value="10">4-2-3-1</option>
                                    <option value="11">4-2-4</option>
                                    <option value="12">4-3-1-2</option>
                                    <option value="13">4-3-2-1</option>
                                    <option value="14">4-3-3</option>
                                    <option value="15">4-4-1-1</option>
                                    <option value="16" selected>4-4-2</option>
                                    <option value="17">4-5-1</option>
                                    <option value="18">5-2-1-2</option>
                                    <option value="19">5-2-2-1</option>
                                    <option value="20">5-3-2</option>
                                    <option value="21">5-4-1</option>
                                </select>
                            </li>
                            <li>
                                <button id="create-team-btn" disabled="disabled">Submit</button>
                            </li>
                        </ul>
                    </div>
                    <div class="ads">
                        <img src="../static/images/uploads/ads1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/create-team.js"></script>
{% endblock %}