{% extends 'base1.html' %}
{% block content %}
<div class="hero hero3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<!-- celebrity single section-->

<div class="page-single movie-single cebleb-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img src="..{{ user.image_url }}" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
					</div>
					<div class="user-fav">
						<p>Account Settings</p>
						<ul>
							<li><a href="#">Change Bio</a></li>
							<li><a href="#">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4 col-sm-12 col-xs-12">
				<div class="mv-ceb">
					<img src="..{{ user.image_url }}" alt="">
				</div>
			</div> -->
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct">
					<h1 class="bd-hd">{{ user.username }}</h1>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#biography">Bio</a></li>
								<li><a href="#teams"> Teams</a></li>
								<li><a href="#likes"> Likes</a></li>
							</ul>
							<div class="tab-content">
								<div id="biography" class="tab active">
									<div class="row">
										<div class="rv-hd">
											<div>
												<h3>Biography of</h3>
												<h2>{{ user.username }}</h2>
											</div>
										</div>
										<p>{{ user.bio }}</p>
									</div>
								</div>
								<div id="teams" class="tab">
									<div class="row">
										<div class="rv-hd">
											<div>
												<h3>Teams Created By</h3>
												<h2>{{ user.username }}</h2>
											</div>

										</div>
										<div class="topbar-filter">
											<p>Found <span>14 movies</span> in total</p>
											<label>Sort by:</label>
											<select id="teams-sort">
												<option value="newest">Newest</option>
												<option value="oldest">Oldest</option>
												<option value="likes">Likes</option>
											</select>
										</div>
										<!-- movie cast -->
										<div id="teams-created" class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film1.jpg" alt="">
													<div>
														<a href="#">X-Men: Apocalypse </a>
														<p class="time">Logan</p>
													</div>

												</div>
												<p>... 2016</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film2.jpg" alt="">
													<div>
														<a href="#">Eddie the Eagle </a>
														<p class="time">Bronson Peary</p>
													</div>
												</div>
												<p>... 2015</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film3.jpg" alt="">
													<div>
														<a href="#">Me and Earl and the Dying Girl </a>
														<p class="time">Hugh Jackman</p>
													</div>
												</div>
												<p>... 2015</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film4.jpg" alt="">
													<div>
														<a href="#">Night at the Museum 3 </a>
														<p class="time">Blackbeard</p>
													</div>
												</div>
												<p>... 2014</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film5.jpg" alt="">
													<div>
														<a href="#">X-Men: Days of Future Past </a>
														<p class="time">Wolverine</p>
													</div>
												</div>
												<p>... 2012</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film6.jpg" alt="">
													<div>
														<a href="#">The Wolverine </a>
														<p class="time">Logan</p>
													</div>
												</div>
												<p>... 2011</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film7.jpg" alt="">
													<div>
														<a href="#">Rise of the Guardians </a>
														<p class="time">Bunny</p>
													</div>
												</div>
												<p>... 2011</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film8.jpg" alt="">
													<div>
														<a href="#">The Prestige </a>
														<p class="time">Robert Angier</p>
													</div>
												</div>
												<p>... 2010</p>
											</div>
										</div>
									</div>
								</div>
								<div id="likes" class="tab">
									<div class="row">
										<div class="rv-hd">
											<div>
												<h3>Teams Liked By</h3>
												<h2>{{ user.username }}</h2>
											</div>

										</div>
										<div class="topbar-filter">
											<p>Found <span>14 movies</span> in total</p>
											<label>Sort by:</label>
											<select id="likes-sort">
												<option value="newest">Newest</option>
												<option value="oldest">Oldest</option>
												<option value="likes">Likes</option>
											</select>
										</div>
										<!-- movie cast -->
										<div id="teams-liked" class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film1.jpg" alt="">
													<div>
														<a href="#">X-Men: Apocalypse </a>
														<p class="time">Logan</p>
													</div>

												</div>
												<p>... 2016</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film2.jpg" alt="">
													<div>
														<a href="#">Eddie the Eagle </a>
														<p class="time">Bronson Peary</p>
													</div>
												</div>
												<p>... 2015</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film3.jpg" alt="">
													<div>
														<a href="#">Me and Earl and the Dying Girl </a>
														<p class="time">Hugh Jackman</p>
													</div>
												</div>
												<p>... 2015</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film4.jpg" alt="">
													<div>
														<a href="#">Night at the Museum 3 </a>
														<p class="time">Blackbeard</p>
													</div>
												</div>
												<p>... 2014</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film5.jpg" alt="">
													<div>
														<a href="#">X-Men: Days of Future Past </a>
														<p class="time">Wolverine</p>
													</div>
												</div>
												<p>... 2012</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film6.jpg" alt="">
													<div>
														<a href="#">The Wolverine </a>
														<p class="time">Logan</p>
													</div>
												</div>
												<p>... 2011</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film7.jpg" alt="">
													<div>
														<a href="#">Rise of the Guardians </a>
														<p class="time">Bunny</p>
													</div>
												</div>
												<p>... 2011</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../static/images/uploads/film8.jpg" alt="">
													<div>
														<a href="#">The Prestige </a>
														<p class="time">Robert Angier</p>
													</div>
												</div>
												<p>... 2010</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/profile.js"></script>
{% endblock %}