{% extends 'base1.html' %}
{% block content %}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>search user created teams</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span>1,608 teams</span> in total</p>
					<label>Sort by:</label>
					<select id="sort-by">
						<option value="likes">Likes</option>
						<option value="comments">Comments</option>
						<option selected value="rating">Average Rating</option>
						<option value="newest">Newest</option>
					</select>
				</div>
				<div class="movie-item-style-2">
					<img src="static/images/uploads/mv1.jpg" alt="">
					<div class="mv-item-infor">
						<h6><a href="moviesingle.html">oblivion <span>(2012)</span></a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
						<p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
						<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
						<p>Director: <a href="#">Joss Whedon</a></p>
						<p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
					</div>
				</div>
				<div class="movie-item-style-2">
					<img src="static/images/uploads/mv2.jpg" alt="">
					<div class="mv-item-infor">
						<h6><a href="moviesingle.html">into the wild <span>(2014)</span></a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
						<p class="describe">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat...</p>
						<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
						<p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
						<p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#">  Scarlett Johansson</a></p>
					</div>
				</div>
				<div class="movie-item-style-2">
					<img src="static/images/uploads/mv3.jpg" alt="">
					<div class="mv-item-infor">
						<h6><a href="moviesingle.html">blade runner  <span>(2015)</span></a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
						<p class="describe">Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help...</p>
						<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
						<p>Director: <a href="#">Peyton Reed</a></p>
						<p>Stars: <a href="#">Paul Rudd,</a> <a href="#"> Michael Douglas</a></p>
					</div>
				</div>
				<div class="movie-item-style-2">
					<img src="static/images/uploads/mv4.jpg" alt="">
					<div class="mv-item-infor">
						<h6><a href="moviesingle.html">Mulholland pride<span> (2013)  </span></a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
						<p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
						<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
						<p>Director: <a href="#">Shane Black</a></p>
						<p>Stars: <a href="#">Robert Downey Jr., </a> <a href="#">  Guy Pearce,</a><a href="#">Don Cheadle</a></p>
					</div>
				</div>
				<div class="movie-item-style-2">
					<img src="static/images/uploads/mv5.jpg" alt="">
					<div class="mv-item-infor">
						<h6><a href="moviesingle.html">skyfall: evil of boss<span> (2013)  </span></a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
						<p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
						<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
						<p>Director: <a href="#">Alan Taylor</a></p>
						<p>Stars: <a href="#">Chris Hemsworth,  </a> <a href="#">  Natalie Portman,</a><a href="#">Tom Hiddleston</a></p>
					</div>
				</div>
				<div class="topbar-filter">
					<label>Movies per page:</label>
					<select>
						<option value="range">5 Movies</option>
						<option value="saab">10 Movies</option>
					</select>
					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Create Your Own team!</h4>
						<form class="form-style-1" action="/">
							<div class="row">
								<div class="col-md-12 ">
									<input class="submit" type="submit" style="background-color: #94D1BE; color: black;" value="Create Team">
								</div>
							</div>
						</form>
					</div>
					<div class="searh-form">
						<h4 class="sb-title">Filter Teams</h4>
						<form class="form-style-1" action="#">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Formation</label>
									<select id="formation">
										<option value="0" selected>Any</option>
										<option value="1">3-1-4-2</option>
										<option value="2">3-4-1-2</option>
										<option value="3">3-4-2-1</option>
										<option value="4">3-4-3</option>
										<option value="5">3-5-2</option>
										<option value="6">4-1-2-1-2</option>
										<option value="7">4-1-3-2</option>
										<option value="8">4-1-4-1</option>
										<option value="9">4-2-2-2</option>
										<option value="10">4-2-3-1</option>
										<option value="11">4-2-4</option>
										<option value="12">4-3-1-2</option>
										<option value="13">4-3-2-1</option>
										<option value="14">4-3-3</option>
										<option value="15">4-4-1-1</option>
										<option value="16">4-4-2</option>
										<option value="17">4-5-1</option>
										<option value="18">5-2-1-2</option>
										<option value="19">5-2-2-1</option>
										<option value="20">5-3-2</option>
										<option value="21">5-4-1</option>
									</select>
								</div>
									<div class="col-md-12 form-it">
										<label>Price</label>
										<div class="row">
											<div class="col-md-6">
												<input id="price-min" type="number" value=0>
											</div>
											<div class="col-md-6">
												<input id="price-max" type="number" placeholder="Max Price">
											</div>
										</div>
									</div>
									<div class="col-md-12 form-it">
										<label>Rating</label>
										<div class="row">
											<div class="col-md-6">
												<input id="rating-min" type="number" value=0>
											</div>
											<div class="col-md-6">
												<input id="rating-max" type="number" placeholder="Max Rating">
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/teams.js"></script>
{% endblock %}