{% extends 'base1.html' %}

{% block content %}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>{{ team.name }}</h1>
					<ul class="breadcumb">
						<li class="active"> Created By: <a href="/users/{{ team.user.id }}">{{team.user.username}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- blog grid section-->
<div class="page-single">
	<div class="container">
		<div class="row">
			<div id="team-page-roster" class="col-md-9 col-sm-12 col-xs-12"></div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="sb-cate sb-it">
						<h4 class="sb-title">Team Stats</h4>
						<ul>
							<li><a>Average Overall Rating: {{ rating }}</a></li>
							<li><a>Average Pace: {{ pace }}</a></li>
							<li><a>Average Shooting: {{ shooting }}</a></li>
							<li><a>Average Passing: {{ passing }}</a></li>
							<li><a>Average Dribbling: {{ dribbling }}</a></li>
							<li><a>Average Defending: {{ defending }}</a></li>
							<li><a>Average Physicality: {{ physicality }}</a></li>
						</ul>
					</div>
					<div class="sb-cate sb-it">
						<h4 class="sb-title">Social</h4>
						<ul>
							<li><a>Likes: {{ length(likes) }}</a></li>
						</ul>
					</div>
					<div class="ads">
						<img src="../static/images/uploads/ads1.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="disqus_thread"></div>
{% endblock %}

{% block scripts %}
<script src="../static/js/team.js"></script>
<script>
	/**
	 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
	 *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
	 *  PLATFORM OR CMS.
	 *  
	 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
	 *  https://disqus.com/admin/universalcode/#configuration-variables
	 */

	var disqus_config = function () {
		let theQueryString = window.location.pathname;
		let theTeamID = parseInt(theQueryString.substring(7));

		// Replace PAGE_URL with your page's canonical URL variable
		this.page.url = window.location.href;

		// Replace PAGE_IDENTIFIER with your page's unique identifier variable
		this.page.identifier = window.location.href;
	};


	(function () {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
		var d = document, s = d.createElement('script');

		// IMPORTANT: Replace EXAMPLE with your forum shortname!
		s.src = 'https://fut-webapp.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>
	Please enable JavaScript to view the
	<a href="https://disqus.com/?ref_noscript" rel="nofollow">
		comments powered by Disqus.
	</a>
</noscript>
{% endblock %}