{% extends 'base.html' %}
{% block content %}
<div class="home-hero">
  <div id="top">
    <h1>
      <i class="fa fas fa-gamepad"></i>
      <span>FUT Webapp</span>
    </h1>
    <h2>Design and share your FIFA Ultimate Teams in the FUT Web App!</h2> 
  </div>
  <div class="home-hero-bot">
    <div class="info-block">
      <ul>
        <li>
          <i class="fa-solid fa-id-card"></i><span>Design and build teams using updated player information</span>
        </li>
        <li>
          <i class="fa-solid fa-basket-shopping"></i><span>Access to updated FIFA 22 Ultimate Team Marketplace</span>
        </li>
        <li>
          <i class="fa-solid fa-thumbs-up"></i><span>Like and comment on other teams</span>
        </li>
        <li>
          <i class="fa-solid fa-filter"></i><span>Search and filter through teams created by other users</span>
        </li>
      </ul>
    </div>
    <div class="form-block">
      <h4>Sign up for access to the FUT Web App</h4>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
  
        <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}